body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

div {
    width: 100%;
}

.Header {
    background-color: #1F2937;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderLinks{
    display: flex;
    gap: 30px;
    justify-content: end;
    margin-right: 125px;
}

.HeaderLink {
    height: 45px;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

#HeaderLogo {
    display: flex;
    align-items: center;
    height: 45px;
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 125px;
    font-weight: 900;
}

.Section1 {
    background-color: #1F2937;
    height: 500px;
    display: flex;
    align-items: center;
}

.Subsection1Left{
    margin-left: 125px;
    width: 55%;
}

#Title { 
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

p {
    height: 75px;
    width: 450px;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    height: 40px;
    width: 125px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ImgPlaceholder {
    height: 275px;
    width: 50%;
    background-color: #ffffff51;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 125px;
}

#Section2Title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Section2Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Subsection2Squares {
    background-color: #ffffff;
    height: 500px;
    width: 80%;
    padding-left: 125px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    align-items: start;
    align-content: center;
}

.Square {
    height: 160px;
    width: 160px;
    border: #3882F6 solid 5px;
    border-radius: 25px;
}

.Subtext {
    height: 100px;
    width: 170px;
    color: #1F2937;
    text-align: center;
}

.Section3 {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#Quote {
    width: 825px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: -100px;

}

#QuoteSource {
    width: 825px;
    font-size: 24px;
    color: #1F2937;
    text-align: end;
    font-weight: bold;
    margin-right: 100px;
    margin-bottom: -50px;
}

.Section4 {
    background-color: #ffffff;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BlueBoi {
    width: 70%;
    background-color: #3882F6;
    border-radius: 10px;
    align-items: center;
    display: flex;
}

h4 {
    color: #E5E7EB;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: -10px;
}

#BlueButton {
    height: 40px;
    width: 150px;
    background-color: #3882F6;
    border: #F9FAF8 solid 3px;
    color: #E5E7EB;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: none;
    margin-right: 100px;
}

#section4Content{
    margin-left: 100px;
}

#BlueP {
    color: #E5E7EB;

}

.Footer {
    background-color: #1F2937;
    height: 65px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}