body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

div {
    width: 100%;
}

.HeaderLink {
    margin-top: 20px;
    height: 45px;
    color: #E5E7EB;
    font-size: 18px;
    width: 200px;
    align-self: flex-end;
}

.Header {
    background-color: #1F2937;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Section1 {
    background-color: #1F2937;
    height: 500px;
}

.Section2 {
    background-color: #ffffff;
    height: 500px;
}

.Section3 {
    background-color: #E5E7EB;
    height: 500px;
}

.Section4 {
    background-color: #ffffff;
    height: 500px;
}

.Footer {
    background-color: #1F2937;
    height: 65px;
}

#HeaderLogo {
    margin-top: 20px;
    margin-right: 500px;
    height: 45px;
    font-size: 24px;
    color: #F9FAF8;
    width: 200px;
    align-self: flex-start;
}